<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net45" />
  <package id="Joozek78.Starcounter.Async" version="1.0.1" targetFramework="net47" />
  <package id="Nito.AsyncEx.Tasks" version="1.1.0" targetFramework="net47" />
  <package id="Nito.Disposables" version="1.0.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net47" />
</packages>