/**
 * Uniform.css
 * (c) Starcounter
 */

/**
 * .uniform-label-control
 * Puts slotted input in the left column, everything else in the right column
 */

.uniform-label-control {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 10px;
    align-items: baseline;
}

.uniform-label-control > *,
.uniform-label-control > ::slotted(*) {
    grid-column: 2 / 3;
    width: 100%;
}

.uniform-label-control > ::slotted(label) {
    text-align: left;
    grid-column: 1 / 2;
}

.uniform-label-control > ::slotted(label.of-paper-input) {
    align-self: end;
    padding-bottom: 6px;
}

/** 
 *
 */

.uniform-button-primary ::slotted(button) {
    color: #fff !important;
    background-color: var(--primary) !important;
    border: 0.1rem solid var(--primary) !important;
    padding: 8px 15px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    height: inherit !important;
}

.uniform-button-primary:hover ::slotted(button),
.uniform-button-primary:focus ::slotted(button) {
    background-color: var(--secondary) !important;
}

.uniform-button-success ::slotted(button) {
    background-color: var(--green, #3FA13F) !important;
    color: var(--white, #fff) !important;
}

.uniform-button-success:hover ::slotted(button),
.uniform-button-success:focus ::slotted(button) {
    background-color: darkgreen !important;
}

/** 
 *
 */