/**
 * Uniform.css
 * (c) Starcounter
 */

/**
 * .uniform-label-control
 * Puts slotted input in the left column, everything else in the right column
 */

.uniform-label-control {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 10px;
    align-items: baseline;
}

.uniform-label-control > *,
.uniform-label-control > ::slotted(*) {
    grid-column: 2 / 3;
    width: 100%;
}

.uniform-label-control > ::slotted(label) {
    text-align: left;
    grid-column: 1 / 2;
}

.uniform-label-control > ::slotted(label.of-paper-input) {
    align-self: end;
    padding-bottom: 6px;
}

/** 
 *
 */

.uniform-button-primary ::slotted(button) {
    color: #fff !important;
    background-color: var(--primary, #0084B4) !important;
    border: 0.1rem solid var(--primary, #0084B4) !important;
    border-radius: 3px !important;
    height: inherit !important;
}

.uniform-button-primary:hover ::slotted(button),
.uniform-button-primary:focus ::slotted(button) {
    background-color: var(--secondary) !important;
}

.uniform-button-success ::slotted(button) {
    background-color: var(--green, #3FA13F) !important;
    color: var(--white, #fff) !important;
}

.uniform-button-success:hover ::slotted(button),
.uniform-button-success:focus ::slotted(button) {
    background-color: darkgreen !important;
}

/** 
 *
 */

.uniform-pagination {
    display: inline-block;
}

.uniform-pagination > ::slotted(*) {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge */
    user-select: none;
}

.uniform-pagination > ::slotted(span.active) {
    background-color: var(--primary, #0084B4);
    color: white;
    border: 1px solid var(--primary, #0084B4);
}

.uniform-pagination > ::slotted(span.disabled) {
    color: var(--livid, #8696A5);
    cursor: not-allowed;
}

.uniform-pagination > ::slotted(span:hover:not(.active)) {
    background-color: #ddd;
}